@charset "utf-8";
/* CSS Document */
body{
	background:#6F0;
	}
#kotak_login{
	background:#CF9;
	height:inherit;
	width:300px;
	text-align:center;
	border:solid #6C0 5px;
	opacity:0.75;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:auto;
	}
h1{
	color:#090;
	font-family:"Comic Sans MS", cursive;
	}
p{
	color:#090;
	font-family:"Comic Sans MS", cursive;
	}